# Crime Data Analysis

In [4]:
# These are the starter packages for data exploration
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Assignment

analyze the data and draw conclusions on the distribution and nature of crime in Montreal City. In your analysis, include maps that visualize the location of different incidents globally and in relation to police districts. Your analysis may also provide answers to the following questions:

- What are the top 3 prevalent crimes or offenses committed in Montreal City?
- What part of the day did most crime incidents occur?
- Which top 5 police precincts (PDQ) got the most crime complaints?
- Which are the top 3 PDQs that got the least crime complaints?
- Which neighborhoods recorded the highest crime incidents and what are the crime types in these neighborhoods?
- Which neighborhood has the most cases of murder?
- You may consider all provided data or a selected timeframe. You are also free to explore the data further and extract additional insights other than the questions above.

In [5]:
data = pd.read_csv('/Users/rosiebai/Downloads/datasets-2/actes-criminels.csv')
data.head()

,CATEGORIE,DATE,QUART,PDQ,X,Y,LONGITUDE,LATITUDE
0,Vol de véhicule à moteur,2018-09-13,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
1,Vol de véhicule à moteur,2018-04-30,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
2,Vol de véhicule à moteur,2018-09-01,nuit,7.0,290274.565000,5.042150e+06,-73.685928,45.519122
3,Méfait,2017-07-21,jour,21.0,NaN,NaN,NaN,NaN
4,Méfait,2017-07-29,jour,12.0,NaN,NaN,NaN,NaN

In [6]:
data.CATEGORIE.value_counts()

CATEGORIE
Vol dans / sur véhicule à moteur    72291
Introduction                        61107
Méfait                              53720
Vol de véhicule à moteur            43135
Vols qualifiés                      13639
Infractions entrainant la mort        225
Name: count, dtype: int64

In [7]:
data.CATEGORIE.value_counts(normalize=True)

CATEGORIE
Vol dans / sur véhicule à moteur    0.296133
Introduction                        0.250318
Méfait                              0.220058
Vol de véhicule à moteur            0.176698
Vols qualifiés                      0.055871
Infractions entrainant la mort      0.000922
Name: proportion, dtype: float64

The top 3 prevelant crimes are 1). Vol dans / sur véhicule à moteur, 2). Introduction 3). Méfait

In [8]:
data.QUART.value_counts()

QUART
jour    124382
soir     81612
nuit     38123
Name: count, dtype: int64

In [9]:
data.QUART.value_counts(normalize=True)

QUART
jour    0.509518
soir    0.334315
nuit    0.156167
Name: proportion, dtype: float64

jour: Between 8:01 a.m. and 4:00 p.m. had most crime incidents occurred.

In [10]:
data.PDQ.value_counts().nlargest(5)

PDQ
38.0    17265
21.0    14326
20.0    13593
48.0    11795
39.0    11149
Name: count, dtype: int64

In [11]:
data.PDQ.value_counts().nsmallest(3)

PDQ
55.0      90
50.0    1950
24.0    2532
Name: count, dtype: int64

The top 5 PDQ got the most complaints are 38, 21, 20, 48, 39.
The least 3 PDQ got the least complaints are 55, 50, 24.